/* SET UP DEFAULT MARGIN */
*{
    box-sizing: border-box;
    margin: 0;
}



/* HEADER */
header{
    background-image: url('../img/pattern.png');
    background-size: 500px;
    background-color: #4EA0FF;
}

.logo{
    width: 300px;
    padding-top: 45px;
    padding-left: 10px;
}
/* /HEADER */



/* MAIN */
main{
    margin-left: 10px;
    margin-right: 10px;
}

/* title */
.title-text{
    font-size: 50px;
}

.credit{
    font-size:20px ;
    color: grey;

}

a{
    text-decoration: none;
    color: #4EA0FF;
}

a:hover{
    color: blue;
}


.date{
    font-size:15px ;
    color: grey;

}
/* /title */

/* img-section */
.img-section{
    margin-top: 25px;
}

.Tim-picture{
    height: 500px;

}

figcaption{
    font-size: 15px;
}
/* /img-section */

/* lorem ipsum section */
.lorem-paragraph{
    margin-top: 30px;
    font-size: 20px;
}
span{
    background-color: yellow;
}

/* /lorem ipsum section */


/* ul lorem ipsum section  */
.lorem-list{
    font-size: 20px;
    margin-top: 40px;
    padding-left: 20px;
}
/* /ul lorem ipsum section  */

/* table lorem section */
table{
    margin-top: 40px;
    border-collapse: collapse;
    table-layout: auto;
    font-size: 20px;
}

.table-head{
    color: white;
    background-color: #4EA0FF;
    font-weight: bold;
}

.wide-cell{
    width:50%;
}

.first-row, .third-row{
    background-color: rgb(159, 230, 254);
}
/* /table lorem section */


/* interest section */
.interest-section{
    font-size: 20px;
    font-weight: bold;
    color:white;
    margin-top: 40px;
    
}

.interest-title{
    color:rgb(164, 162, 162);
    
   
}

.interest-1{
    background-image: url(../img/monitor.jpg);
    width: 300px ;
    height: 200px ;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 25px;

}

.interest-2{
    background-image: url(../img/graph.jpg);
    width: 300px ;
    height: 200px ;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 25px;
    margin-bottom: 40px;


}
/* /interest section */


/* MAIN */



/* FOOTER */
/* /FOOTER */

